<div class="center-container" style="background-color: #131C24;">


    <div class="img-container ">
        <img src="./../../../assets/appreciation.png" alt="Repeated Cup" class="repeated-cup">
    </div>
    <div class="d-flex flex-column flex-fill introduction" dir="rtl">
        <img src="../../../assets/tibar emoji.png" class="tibar-emoji" alt="Tibar Emoji">
        <div class="d-flex title align-items-center">
            سپاس از همراهی شما! 🙏
        </div>
        <p class="introduction-text">نظرات شما با موفقیت ثبت شد.
        </p>
    </div>
    <div class="d-flex btn-container">
        <button class="d-flex justify-content-center btn" [routerLink]="['/survey']"> اشتراک نظرسنجی <img src="../../../assets/share.png" width="18px" height="19.92px" alt=""></button>
        <button
        class="share-btn d-flex justify-content-center align-items-center"
      >
        <img
          src="../../../assets/Instagram.png"
          alt="back arrow"
          width="27px"
          height="27px"
        />
      </button>
    </div>
</div> 