html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background: #131c24 !important;
  color: white;
}

@font-face {
  font-family: "IranSans";
  src: url("assets/fonts/IRANSansWeb.ttf");
  font-weight: normal;
  font-style: normal;
}

.center-container {
  
  height: 100%;
  background: white;
}

.centrelize {
  max-width: 550px;
  width: 100%;
}
