<div class="center-container" style="background-color: white;">
   
        <div class="img-container ">
            <img src="./../../../assets/repeated cup.png" alt="Repeated Cup" class="repeated-cup">
        </div>
    

    <div class="d-flex flex-column introduction" dir="rtl">
        <img src="../../../assets/tibar emoji.png" class="tibar-emoji" alt="Tibar Emoji">
        <div class="d-flex align-items-center">
            <h2 class="title d-flex align-items-center justify-contet-center">تی‌بار اموجی 	😋	</h2>

        </div>
    </div>
</div>