<div class="center-container" style="background-color: #131C24;">

   
        <img src="./../../../assets/black coffee.png" alt="Repeated Cup" class="repeated-cup">
 

    <div class="d-flex flex-column flex-fill introduction" dir="rtl">
        <img src="../../../assets/tibar emoji.png" class="tibar-emoji" alt="Tibar Emoji">
        <div class="d-flex title align-items-center">
            تی‌بار اموجی 😋
        </div>
        <p class="introduction-text">با انتخاب اموجی‌های مناسب نسبت به هر محصول, ما را در بهبود کیفیت تی‌بار کمک کنید.
        </p>
    </div>
    <button class="d-flex justify-content-center btn" [routerLink]="['/survey']"><img src="../../../assets/forward arrow.png" width="11px" height="19px" alt=""> شروع نظرسنجی</button>
</div>