<div class="center-container">
  <img src="../../../assets/geometry.png" alt="geometry" class="geometry" />

  <div
    class="d-flex flex-column justify-content-end align-items-center content-container"
  >
    <img
      src="../../../assets/frappe.png"
      width="90px"
      style="margin-bottom: 24px;z-index: 3;"
    />
    <h3 class="product-title">
      {{ products.products[currentProductIndex].name }}
    </h3>
    <h3 class="question">نسبت به این محصول تی‌بار چه حسی دارید؟</h3>
    <div
      [ngStyle]="{
        visibility: selectedEmojies[currentProductIndex] != '' ? '' : 'hidden'
      }"
      class="d-flex selected-emojies"
      [class.select-anim] = "this.selectedEmojiesAnimation"
    >
      <P
        *ngFor="let emoji of currentSelectedEmojies; index as i"
        (click)="deleteEmoji(i)"
        >{{ emoji }}</P
      >
    </div>
    <div class="d-flex recommended-emojies-container">
      <button
        class="emoji-pick d-flex justify-content-center align-items-center"
        (click)="isEmojiiToggled()"
      >
        <img
          src="../../../assets/add emojie.png"
          alt="add emoji"
          width="27px"
          height="25.77px"
        />
      </button>

      <div class="d-flex recommended-emojies">
        <button
          class="emoji-btn d-flex justify-content-center"
          id="emoji-btn"
          type="button"
          (click)="addEmoji(emoji)"
          *ngFor="let emoji of recommendedEmojies; let i = index"
          [class.shakeit] = "this.currentSelectedEmojiesState[i] == 1"
        >
          <p>{{ emoji }}</p>
        </button>
      </div>
    </div>
    <div class="line-break"></div>
    <div class="d-flex button-container w-100">
      <div class="d-flex justify-content-between btn-container w-100">
        <button
          class="next-btn d-flex justify-content-center align-items-center flex-fill"
          (click)="next()"
        >
          <img
            src="../../../assets/forward arrow.png"
            width="11px"
            height="19px"
            alt=""
          />
          بعدی
        </button>
        <button
          class="back-btn d-flex justify-content-center align-items-center"
          (click)="previous()"
        >
          <img
            src="../../../assets/back arrow.png"
            alt="back arrow"
            width="10.74px"
            height="18.76px"
          />
        </button>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="isEmojiToggled"
  (click)="backgroundClicked()"
  style="
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 999;
  "
>
  <emoji-mart
    [style]="{ width: '100%', height: '100%' }"
    (isNative)="(true)"
    (showPreview)="(false)"
    (emojiClick)="addCustomEmoji($event)"
    [emojiSize]="34"
    title=""
    [skin]="1"
  ></emoji-mart>
  <!-- <emoji-mart
          [style]="{ position: 'absolute', bottom: '20px', right: '20px' }"
        ></emoji-mart> -->
</div>

<!-- <p style="color:white;">{{surveyId}}</p>
<div style="color:white;">{{products.products[currentProductIndex].name}}</div>
<button (click)="next()">next</button>
<button (click)="previous()">previous</button>
<div  style="color:white;">{{this.selectedEmojies[currentProductIndex]}}</div> -->
<!-- <p style="color: white">{{ surveyId }}</p>
<div style="color: white">
  {{ this.products.products[this.currentProductIndex].name }}
</div>
<button (click)="next()">next</button>
<button (click)="previous()">previous</button>
<div style="color: white">{{ this.selectedEmojies[currentProductIndex] }}</div>
<button (click)="submit()">submit</button> -->
